body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.categories-list {
  background: none;
  font-size: 18px;
  border: none;
  text-decoration: underline;
  cursor: pointer;
  color: white;
}

.nav-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.vote-stepper.small {
  position: absolute;
  right: 15px;
  top: 35px;
}

.stepper-card-element {
  position: absolute;
  left: 15px;
  top: 2px;
}

.vote-stepper > span {
  float: none;
  margin-left: 5px;
  font-size: 35px;
  vertical-align: middle;
  padding-right: 5px;
}

.vote-stepper.small > span {
  font-size: 20px;
  text-align: center;
  margin-bottom: 5px;
}

.vote-stepper > i {
  font-size: 12px;
}

.vote-stepper.small > i {
  display: none;
}

.vote-stepper .btn {
  padding: 0 10px;
  margin: 0 4px;
}

.vote-stepper.small .btn {
  padding: 0 5px;
  margin: 0 2px;
  height: 22px;
}

.vote-stepper.small .btn > i {
  font-size: 12px;
  line-height: 20px;
  vertical-align: top;
}

.btn-floating.close-btn {
  position: absolute;
  left: -20px;
  top: -20px;
}

.bodyField {
  width: 100%;
  height: 10rem;
  background-color: transparent;
}

.author-detail {
  font-size: 20px;
  font-weight: bold;
  display: block;
}

.comment {
  padding: 10px 70px 10px 50px !important;
}

.new-comment .row {
  margin-top: 20px;
}

.overlay {
  z-index: 5;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(255, 255, 255, 0.75);
}

.popup {
  position: absolute;
  top: 40px;
  left: 200px;
  right: 200px;
  border: 1px solid rgb(204, 204, 204);
  background: rgb(255, 255, 255);
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 20px;
  border-radius: 3px;
  box-shadow: 0 3px 8px 0 rgba(0,0,0,.24), 0 3px 12px 0 rgba(0,0,0,.12);
  min-width: 500px;
}

.btn-modal{
  position: absolute;
  bottom: 20px;
  right: 20px;
}